<form {{action 'save' timezone on="submit"}}>
  {{input value=timezone.name class="timezone-name"}}
  {{input value=timezone.city class="timezone-city"}}
  {{input value=timezone.difference class="timezone-difference"}}
  <button type="submit">Save</button>
</form>
