<table class="table">
  <thead>
    <th>Email</th>
    <th>Role</th>
    <th></th>
  </thead>
  <tbody>
    {{#each users as |user|}}
      <tr>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>
          {{#link-to 'users.edit' user}}Edit{{/link-to}}
          <a href="#" {{action 'delete' user}}>Delete</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
